<!DOCTYPE html>
<html>
  <head>
    <title>Test Unit</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Test Unit</h1>

    <p>Check Test BooksBo.findBooks(...): <%= msg %></p>
    
  </body>
</html>
